body {
	background-color: #15785a;
}
h1 {
	color: #efef5f;
	font-size: 4rem;
	margin-bottom: 20px;
}

section {
	display: flex;
	justify-content: center;
}
.deck {
	margin: 0 auto;
	background-color: darkgreen;
	padding: 20px;
	display: flex;
	gap: 30px;
	border: solid 1px black;
	width: 100vh;
	border-radius: 15px;

	min-height: 140px;
}

.card {
	background-color: #fff;
	height: 160px;
	width: 100px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.add-cards {
	margin-top: 20px;
	gap: 10px;
}
.add-cards label {
	color: #fff;
	font-weight: bold;
}
.add-cards button {
	background-color: #10bb76;
	border: 0;
	font-size: 1rem;
}
.error {
	background-color: #ffccaa;
	padding: 20px;
	margin-bottom: 10px;
	display: inline-block;
}

.submit {
	background-color: #10bb76;
	border: 0;
	font-size: 1rem;
	margin-top: 10px;
	font-size: 30px;
}
