body {
	background-color: #15785a;
}
h1 {
	color: #efef5f;
	font-size: 4rem;
	margin-bottom: 40px;
}

main {
	display: flex;
	justify-content: center;
}

section {
	display: flex;
	flex-direction: column;
}

label {
	color: #fff;
	font-weight: bold;
	display: block;
	margin-bottom: 8px;
	font-size: 18px;
}

input {
	padding: 9px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	border: none;
	color: #464646;
	font-weight: bold;
	font-size: 17px;
}

button {
	background-color: #10bb76;
	border: 0;
	font-size: 17px;
	padding: 9px;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: solid 1px #000;
}

.deck {
	margin: 0 auto;
	background-color: darkgreen;
	padding: 30px;
	border: solid 1px black;
	width: 940px;
	border-radius: 15px;
}

.card-list {
	min-height: 225px;
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.card {
	display: grid;
	grid-template-columns: 1fr 2fr 1fr;
	grid-template-rows: 1fr 2fr 1fr;
	background-color: #fff;
	height: 225px;
	width: 155px;
	border-radius: 20px;
	padding: 10px;
	box-sizing: border-box;
	align-items: center;
	text-align: center;
	font-size: 25px;
	font-weight: bold;
}

.card .header {
	grid-column-start: 1;
	grid-row-start: 1;
}

.card .large {
	text-align: center;
	font-size: 50px;
	grid-column-start: 2;
	grid-row-start: 2;
}

.card .bottom {
	transform: rotate(180deg);
	grid-column-start: 3;
	grid-row-start: 3;
}

.add-cards {
	margin-top: 20px;
	gap: 10px;
}

.rotation-card {
	align-self: flex-end;
	margin-top: 30px;
}

.error {
	background-color: #ffccaa;
	padding: 20px;
	margin-bottom: 10px;
	display: inline-block;
}
